body {

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    input {
        padding: 15px;
        margin: 10px;
        margin-bottom: 25px;

        width: 200px;
        height: 40px;
        border-radius: 15px;
        border: 3px solid transparent;
        outline: none;
        color: white;
        font-size: 17px;
        text-align: center;
        font-weight: 900;
        background: linear-gradient(black, black) padding-box,
            linear-gradient(45deg, #18005f, #0a0f2c, #1a2a6c, #4facfe) border-box;
        transition: 0.4s;
    }

    /* Hover effect */
    input:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px #00f2ff;
    }

    /* Focus effect */
    input:focus {
        transform: scale(1.08);
        box-shadow: 0 0 20px #2ecc71, 0 0 20px #00f2ff;
    }

    body {
        background-color: black;
    }

    h1 {
        color: white;
        font-weight: 900;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    fieldset {
        margin-top: 100px;
        width: 600px;
        height: 600px;
        border-radius: 20px;
        margin-bottom: 65px;
        position: relative;
        background: black;
        overflow: hidden;
        border: none;
        animation: shadowMove 4s linear infinite;
    }
    #gestion{
        margin-right: 50px;
    }

    /* Shadow animation */
    @keyframes shadowMove {
        0% {
            box-shadow:
                0 0 20px #18005f,
                0 0 20px #0c1179;
        }

        25% {
            box-shadow:
                20px 0 30px #00f2ff,
                -20px 0 30px #00f2ff;
        }

        50% {
            box-shadow:
                0 0 40px #18005f,
                0 0 40px #1b28b1;
        }

        75% {
            box-shadow:
                -20px 0 30px #1b28b1,
                20px 0 30px cyan;
        }

        100% {
            box-shadow:
                0 0 20px #000dff,
                0 0 40px #6251ff;
        }
    }

    /* animated border */
    fieldset::before {
        content: "";
        position: absolute;
        inset: -3px;
        border-radius: 20px;
        background: linear-gradient(45deg, #2ecc71, #00f2ff, #9b59b6, #2ecc71);
        background-size: 300%;
        animation: borderAnim 6s linear infinite;
        z-index: -1;
    }

    fieldset::after {
        content: "";
        position: absolute;
        inset: 3px;
        background: black;
        border-radius: 20px;
        z-index: -1;
    }

    @keyframes borderAnim {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 300%;
        }
    }

    legend {
        color: #ffffff;
        font-weight: 900;
        font-family: serif;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 2px;
        font-size: 45px;
        margin-top: 30px;
    }

    div {
        margin-top: 40px;
    }

    button {
        position: relative;
        font-size: 25px;
        width: 280px;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 90px;
        margin: 15px;
        border-radius: 150px;
        display: inline-block;
        font-weight: 900;
        color: white;
        background: #020617;
        overflow: hidden;
        transition: 800ms;
        opacity: 0;
        transform: translateY(50px) scale(0.9);
        animation: fadeUp 1s ease forwards;
        border: none;
    }


    .I {
        padding-left: 35px;
    }


    button::before {
        content: "";
        position: absolute;
        inset: -5px;
        border-radius: 50px;
        background: linear-gradient(270deg, #000000, #2f2fad, #2949d7, hotpink);
        background-size: 400% 400%;
        z-index: -3;
        border: none;
        animation: borderMove 9s linear infinite;
    }


    button::after {
        content: "";
        position: absolute;
        inset: 4px;
        background: #020617;
        
        padding-left: 10px;
        padding-right: 10px;
        
        border-radius: 50px;
        z-index: -1;
        border: none;
    }

    button::after:hover {
        transform: scale(1.1) translateY(10px);
    }

    button:active {
        transform: scale(1.1);
    }


    /* Hover */


    /* Animation */
    @keyframes borderMove {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 400% 50%;
        }
    }

    @keyframes fadeUp {
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }

    /* Delay effect */
    button:nth-child(1) {
        animation-delay: 0.2s;
    }

    button:nth-child(2) {
        animation-delay: 0.4s;
    }

    button:nth-child(3) {
        animation-delay: 0.6s;
    }

    button:nth-child(4) {
        animation-delay: 0.8s;
    }

    button:nth-child(5) {
        animation-delay: 1s;
    }

    button:nth-child(6) {
        animation-delay: 1.2s;
    }

    #divv {
        height: 60px;
        width: 200px;
        margin-top: 140px;
        margin-bottom: 90px;
        border-radius: 70px;
        border: none;
        box-shadow: 0 0 50px 10px blueviolet;
        color: white;
        text-align: center;
        font-weight: 900;
        margin-top: 0;
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 45px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #ar,
    #math,
    #ph,
    #philo,
    #option {
        margin-right: 55px;
    }